<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.blogj.dao.AccountDao">
    <select id="findAccountByUsername" resultType="com.yi.blogj.model.Account">
        select
            id, username, password
        from 
            account
        where 
            username = #{username} and deprecated = 0
    </select>

    <select id="findAccountById" resultType="com.yi.blogj.model.Account">
        select
            id, creationtime, modifiedtime, username, avatar, nickname
        from 
            account
        where
            id = #{id}
    </select>

    <insert id="register" parameterType="com.yi.blogj.model.Account" flushCache="true" useGeneratedKeys="true" keyProperty="id">
        insert into 
            account(username, password, avatar, nickname) 
        values 
            (#{username}, #{password}, #{avatar}, #{nickname})
    </insert>
</mapper>