<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.blogj.dao.AccountTokenDao">
    <select id="findByUsername" resultType="com.yi.blogj.model.AccountToken">
        select
            access_token, refresh_token, username
        from 
            account_token
        where 
            username = #{username}
    </select>

    <insert id="create" parameterType="com.yi.blogj.model.AccountToken" flushCache="true" useGeneratedKeys="true" keyProperty="id">
        insert into 
            account_token(access_token, refresh_token, username) 
        values 
            (#{accessToken}, #{refreshToken}, #{username})
    </insert>

    <update id="update" parameterType="com.yi.blogj.model.AccountToken" flushCache="true">
        update account_token set access_token = #{accessToken}, refresh_token=#{refreshToken} where username = #{username}
    </update>
</mapper>